	{% extends 'base.html' %}
	{% load static %}
    {% block content %}
	<!--Start Main-->
	<main>
		<!--Start Card Top-->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="card card-me mt-3">
						<div class="card-body flex-column">
							<p class="text-white">
								<strong>
									سلام ؛
								</strong>
							</p>
							<small class="text-white">
								من ایمان بیاتی 21 ساله، ساکن شهر تهران و دانشجوی کارشناسی دبیری ریاضی هستم. 
								من برای طراحی سایت در حوزه‌های فرانت اند و بک اند دوره های مختلفی رو گذروندم و زبان برنامه نویسی پایتون رو یاد گرفتم و همچنان در حال یادگیری هستم و هیچ وقت از یادگیری دست بر نمیدارم.
								  اگر تمایل دارید که با من به صورت دورکاری و پاره وقت کار کنید خوشحال میشم باهم بیشتر آشنا شیم:
															</small>
							<br><br><br>
							<div class="d-flex flex-column flex-lg-row icon-contact justify-content-around align-items-center">
								<a target="_blank" href="mailto: bayati.pro@gmail.com" class="text-white btn bg-transparent border-0">
									<i class="fa-solid fa-envelope mt-3"></i>
									<small class="mt-1">bayati.pro@gmail.com</small>
								</a>
								<a target="_blank" href="https://www.instagram.com/bayati.pro/" class="text-white btn bg-transparent border-0">
									<i class="fa-brands fa-instagram mt-3"></i>
									<small class="mt-1">bayati.pro</small>
								</a>
								<a target="_blank" href="http://www.linkedin.com/in/bayatipro" class="text-white btn bg-transparent border-0">
									<i class="fa-brands fa-linkedin-in mt-3"></i>
									<small class="mt-1">linkdin.me</small>
								</a>
								<a target="_blank" href="https://telegram.me/iman9992" class="text-white btn bg-transparent border-0">
									<i class="fa-brands fa-telegram mt-3"></i>
									<small class="mt-1">telegram.me</small>
								</a>
								<a target="_blank" href="https://wa.me/+989912311015" class="text-white btn bg-transparent border-0">
									<i class="fa-brands fa-whatsapp mt-3"></i>
									<small class="mt-1">whatsapp.me</small>
								</a>
								<a target="_blank" href="tel:+989912311015" class="text-white btn bg-transparent border-0">
									<i class="fa-solid fa-mobile-button mt-3"></i>
									<small class="mt-1">09912311015</small>
								</a>
							</div>
							<br><br>
							{% for file in files %}
							<a href="{{file.file.url}}" class="bg-transparent justify-content-center btn-download-file">
								<button class="btn btn-warning border-0 d-flex me-auto" type="submit">
									<i class="fa-solid fa-file-arrow-down mt-3"></i>
									<small class="mt-1 ms-1">دانلود رزومه</small>
								</button>
							</a>
							{% endfor %}
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<!--End Card Top-->
		
		
		<!--Start Work-->
		
		<div class="container">
			<p class="text-white text-center text-lg-start text-work headline mb-4">
				<strong>نمونه کارهای من</strong>
			</p>
		</div>
		<div class="bg-work mb-3">
			<div class="container">
				<div class="row">
					<div class="slider-1st">
					<div class="slider22 d-flex flex-column flex-lg-row justify-content-between">
					{% for post in posts %}
						<div class="card border-0 card-work me-3 mt-5 mb-5">
							<div class="card-img-top">
								<img class="img-fluid d-block mx-auto w-100" src="{{post.image.url}}" alt="picture">
							</div>
							<div class="card-body p-0 py-2">
								<div class="button-text d-flex justify-content-between">
									<div class="d-flex mt-2">
										<small class="text-white"> قالب :</small>
										{% for cat in post.category.all %}
										<small class="text-white ms-2">{{cat.name}}</small>
										{% endfor %}
									</div>
									<div class="btn-contact">
									<a href="{% url 'work:single' pid=post.id %}" class="btn btn-warning d-flex">
										<i class="fa-solid fa-eye mt-1"></i>
										<small class="ms-2 d-inline-block">مشاهده </small>
									</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>				
				</div>
				<a href = "{% url 'work:home' %}" >
				<div class="pb-4 see-more-btn">
					<button class="btn btn-outline-warning d-flex hvr-shrink" type="button">
						<i class="fa-solid fa-eye mt-1"></i>
						<p class="mb-0 ms-1">مشاهده کارها</p>
					</button>
				</div>
				</a>
			</div>
		</div>
		<br><br><br><br>
		<!--End Work-->
		
		
		<!--Start Skills-->
		<div class="container">
			<p class="text-white text-center text-lg-start text-work headline mb-4">
				<strong>مهارت ها</strong>
			</p>
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="card border-0 card-skil">
						<div class="card-body">
							<div class="icon-skill mb-3 text-center text-white">
								<i class="fa-brands fa-python"></i>
							</div>
							<p class="text-justify text-white text-center">
								برای برنامه نویسی بک اند سایت از زبان برنامه نویسی پایتون و فریمورک قدرتمند پایتون به نام django استفاده می‌کنم.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="card border-0 card-skil my-3 my-lg-0">
						<div class="card-body">
							<div class="icon-skill mb-3 text-center text-white">
								<i class="fa-brands fa-bootstrap"></i>
							</div>
							<p class="text-justify text-white text-center">
								در کنار html و css از کتابخونه قدرتمند css به نام bootstrap استفاده می‌کنم.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="card border-0 card-skil">
						<div class="card-body">
							<div class="icon-skill mb-3 text-center text-white">
								<i class="fa-solid fa-palette"></i>
							</div>
							<p class="text-justify text-white text-center">
								  اوایل برای طراحی سایت با برنامه adobe photoshop کار می‌کردم ولی الآن از برنامه adobe xd استفاده می‌کنم. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<!--End Skills-->
		
		
	</main>
	<!--End Main-->
    {% endblock %}