{% load static %}
<!doctype html>
<html dir="rtl">
<head>
<meta charset="utf-8">
<title>home</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/hover-min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<!--Start Header-->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  			<div class="container-fluid">
    			<a class="navbar-brand" href="index.html">
					<div class="d-flex">
						<div class="memoji align-self-center">
							<img class="img-fluid" src="{% static 'img/download.jfif' %}" alt="me">
						</div>
						<div class="flex-column text-top">
							<p class="text-white">
								 ایمان بیاتی
							</p>
							<small class="text-white">
								برنامه نویس پایتون
							</small>
						</div>
					</div>  
				</a>
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarSupportedContent">
     			 <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
        			<li class="nav-item">
          				<a class="nav-link active" aria-current="page" href="{% url 'website:home' %}">خانه</a>
        			</li>
       				<li class="nav-item dropdown work">
          				<a class="nav-link dropdown-toggle work-dropdown" href="#"  role="button" data-bs-toggle="dropdown">
            				نمونه کارها
          				</a>
          				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            				<li class="pe-2"><a class="dropdown-item" href="#">قالب django</a></li>
            				<li class="pe-2"><a class="dropdown-item" href="#">قالب html</a></li>
          				</ul>
        			</li>
      			</ul>
        		<button class="btn btn-outline-warning btn-contact-me" type="submit">تماس با من</button>
    			</div>
  			</div>
		</nav>
		<br><br><br>
		<hr>
		<br>
	</header>
	<!--End Header-->
	
	<!--Start Main-->
	{% block content %}
	{% endblock %}
	<!--End Main-->
	<!--Start Footer-->
	
	<footer>
		<small class="text-center text-white py-2 d-block">
			تمام حقوق سایت نزد اینجانب محفوظ است
		</small>
	</footer>
	<!--End Footer-->
	
	
	
	
	
	
	
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>	
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
	
</body>
	
</html>
