<!doctype html>
<html dir="rtl">
<head>
<meta charset="utf-8">
<title>posts</title>
<link type="text/css" rel="stylesheet" href="css/all.min.css">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="css/bootstrap.rtl.min.css">
<link type="text/css" rel="stylesheet" href="css/hover-min.css">
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>
	<!--Start Header-->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  			<div class="container-fluid">
    			<a class="navbar-brand" href="index.html">
					<div class="d-flex">
						<div class="memoji align-self-center">
							<img class="img-fluid" src="img/download.jfif" alt="me">
						</div>
						<div class="flex-column text-top">
							<p class="text-white">
								 ایمان بیاتی
							</p>
							<small class="text-white">
								برنامه نویس پایتون
							</small>
						</div>
					</div>  
				</a>
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarSupportedContent">
     			 <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
        			<li class="nav-item">
          				<a class="nav-link active" aria-current="page" href="index.html">خانه</a>
        			</li>
       				<li class="nav-item dropdown work">
          				<a class="nav-link dropdown-toggle work-dropdown" href="#"  role="button" data-bs-toggle="dropdown">
            				نمونه کارها
          				</a>
          				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            				<li class="pe-2"><a class="dropdown-item" href="#">قالب django</a></li>
            				<li class="pe-2"><a class="dropdown-item" href="#">قالب html</a></li>
          				</ul>
        			</li>
      			</ul>
        		<button class="btn btn-outline-warning btn-contact-me" type="submit">تماس با من</button>
    			</div>
  			</div>
		</nav>
		<br><br><br>
		<hr>
		<br><br>
	</header>

	<!--End Header-->
	
	<!--Start Main-->
	<main>
		<!--Start Check Box-->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form class="form-group check-site">
						<div class="form-check form-check-inline m-0">
							<input class="form-check-input" type="checkbox" name="django">
							<label class="form-check-label text-white" for="django"><small>django</small></label>
						</div>
						<div class="from-check form-check-inline m-0">
							<input class="form-check-input" name="html" type="checkbox">
							<label class="form-check-label text-white" for="html"><small>html</small></label>
						</div>
					</form>
				</div>
			</div>
		</div>
		<br><br>
		<!--End Check Box-->
		
		
		<!--Start Posts-->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="text-white mb-4">
						<strong> همه قالب‌ها</strong>
					</p>
				</div>
				<div class="col-12 col-lg-4">
						<div class="card border-0 card-work mb-5">
							<div class="card-img-top">
								<div class="overlay">
									<a class="icon-over" href="#">
										<div class="text-center d-flex align-items-center d-block">
											<button class="btn btn-warning d-flex hvr-shrink" type="button">
												<i class="fa fa-eye mt-1"></i>
												<p class="mb-0 ms-1">مشاهده</p>
											</button>
										</div>
									</a>
								</div>
								<img class="img-fluid d-block mx-auto w-100" src="img/Capture.PNG" alt="picture">
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card border-0 card-work mb-5">
							<div class="card-img-top">
								<div class="overlay">
									<a class="icon-over" href="#">
										<div class="text-center d-flex align-items-center d-block">
											<button class="btn btn-warning d-flex hvr-shrink" type="button">
												<i class="fa fa-eye mt-1"></i>
												<p class="mb-0 ms-1">مشاهده</p>
											</button>
										</div>
									</a>
								</div>
								<img class="img-fluid d-block mx-auto w-100" src="img/Capture.PNG" alt="picture">
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card border-0 card-work mb-5">
							<div class="card-img-top">
								<div class="overlay">
									<a class="icon-over" href="#">
										<div class="text-center d-flex align-items-center d-block">
											<button class="btn btn-warning d-flex hvr-shrink" type="button">
												<i class="fa fa-eye mt-1"></i>
												<p class="mb-0 ms-1">مشاهده</p>
											</button>
										</div>
									</a>
								</div>
								<img class="img-fluid d-block mx-auto w-100" src="img/Capture.PNG" alt="picture">
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card border-0 card-work mb-5">
							<div class="card-img-top">
								<div class="overlay">
									<a class="icon-over" href="#">
										<div class="text-center d-flex align-items-center d-block">
											<button class="btn btn-warning d-flex hvr-shrink" type="button">
												<i class="fa fa-eye mt-1"></i>
												<p class="mb-0 ms-1">مشاهده</p>
											</button>
										</div>
									</a>
								</div>
								<img class="img-fluid d-block mx-auto w-100" src="img/Capture.PNG" alt="picture">
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card border-0 card-work mb-5">
							<div class="card-img-top">
								<div class="overlay">
									<a class="icon-over" href="#">
										<div class="text-center d-flex align-items-center d-block">
											<button class="btn btn-warning d-flex hvr-shrink" type="button">
												<i class="fa fa-eye mt-1"></i>
												<p class="mb-0 ms-1">مشاهده</p>
											</button>
										</div>
									</a>
								</div>
								<img class="img-fluid d-block mx-auto w-100" src="img/Capture.PNG" alt="picture">
							</div>
						</div>
					</div>					
			</div>
		</div>
		
		<br><br><br>
		<!--End Posts-->
		

		
		
	</main>
	<!--End Main-->
	<!--Start Footer-->
	
	<footer>
		<small class="text-center text-white py-2 d-block">
			تمام حقوق سایت نزد اینجانب محفوظ است
		</small>
	</footer>
	<!--End Footer-->
	
	
	
	
	
	
	
<script src="js/jquery-3.6.0.min.js"></script>	
<script src="js/all.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.js"></script>
	
</body>
	
</html>
