{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Start Main -->
  <main>
    <!-- Start Check Box -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form class="form-group check-site">
            <div class="form-check form-check-inline m-0">
              <input class="form-check-input" type="checkbox" name="django" />
              <label class="form-check-label text-white" for="django"><small>django</small></label>
            </div>
            <div class="from-check form-check-inline m-0">
              <input class="form-check-input" name="html" type="checkbox" />
              <label class="form-check-label text-white" for="html"><small>html</small></label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br /><br />
    <!-- End Check Box -->

    <!-- Start Posts -->
    <div class="container">
      <div class="row">
        {% for work in works %}
          <div class="col-12 col-lg-4">
            <div class="card border-0 card-work mb-5">
              <div class="card-img-top">
                <div class="overlay">
                  <a class="icon-over" href="{{work.file.url}}">
                    <div class="text-center d-flex align-items-center d-block">
                      <button class="btn btn-warning d-flex hvr-shrink" type="button">
                        <i class="fa fa-download mt-1"></i>
                        <p class="mb-0 ms-1">دانلود</p>
                      </button>
                    </div>
                  </a>
                </div>
                <img class="img-fluid d-block mx-auto w-100" src="{{work.image.url}}" alt="picture" />
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <br /><br /><br />
    <!-- End Posts -->
  </main>
  <!-- End Main -->
{% endblock %}
