{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Start Main -->
  <main>
    <!-- Start Posts -->
    <div class="container">
      <div class="row">
        {% for post in posts %}
          <div class="col-12 col-lg-4">
						<div class="card border-0 card-work-2">
							<div class="card-img-top">
								<img class="img-fluid d-block mx-auto w-100" src="{{post.image.url}}" alt="picture">
							</div>
							<div class="card-body">
								<div class="button-text d-flex justify-content-between">
									<div class="d-flex mt-2">
										<small class="text-white"> قالب :</small>
										{% for cat in post.category.all %}
										<small class="text-white ms-2">{{cat.name}}</small>
										{% endfor %}
									</div>
									<div class="btn-contact">
									<a href="{% url 'work:single' pid=post.id %}" class="btn btn-warning">
										<i class="fa fa-eye"></i>
										<p class="mb-0 ms-2 d-inline-block">مشاهده </p>
									</a>
									</div>
								</div>
							</div>
						</div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="page">
            <ul class="pagination justify-content-center">
              {% if posts.has_previous %}
              <li class="page-item me-2">
                <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="previous">
                  <i aria-hidden="true" class="fa fa-chevron-right"></i>
                </a>
              </li>
              {% endif %}
              {% for page in posts.paginator.page_range %}
                {% if posts.number == page %}
                <li class="page-item me-2 active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                <li class="page-item me-2"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endif %}
              {% endfor %}
              {% if posts.has_next %}
              <li class="page-item me-2">
                <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="next">
                  <i aria-hidden="true" class="fa fa-chevron-left"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <br><br>
    <!-- End Posts -->
  </main>
  <!-- End Main -->
{% endblock %}
