{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Start Main -->
  <main>
    <!-- Start Check Box -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex category">
            <p class="text-white category-title"><strong>دسته بندی بر اساس :</strong></p>
            {% for category in categories %}
            <a class="category-button me-2" href="{% url 'work:category' cat_name=category.name %}" type="submit">
              <p class="text-white" name="{{category.name}}">{{category.name}}</p>
            </a>
            {% endfor %}        
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <!-- End Check Box -->

    <!-- Start Posts -->
    <div class="container">
      <div class="row">
        {% for post in posts %}
          <div class="col-12 col-lg-4">
            <div class="card border-0 card-work mb-5">
              <div class="card-img-top">
                <div class="overlay">
                  <a target="_blank" class="icon-over" href="{{post.url}}">
                    <div class="text-center d-flex align-items-center d-block">
                      <button class="btn btn-warning d-flex hvr-shrink" type="button">
                        <i class="fa fa-eye mt-1"></i>
                        <p class="mb-0 ms-1">مشاهده آنلاین</p>
                      </button>
                    </div>
                  </a>
                </div>
                <img class="img-fluid d-block mx-auto w-100" src="{{post.image.url}}" alt="picture" />
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="page">
            <ul class="pagination justify-content-center">
              {% if posts.has_previous %}
              <li class="page-item me-2">
                <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="previous">
                  <i aria-hidden="true" class="fa fa-chevron-right"></i>
                </a>
              </li>
              {% endif %}
              {% for page in posts.paginator.page_range %}
                {% if posts.number == page %}
                <li class="page-item me-2 active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                <li class="page-item me-2"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endif %}
              {% endfor %}
              {% if posts.has_next %}
              <li class="page-item me-2">
                <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="next">
                  <i aria-hidden="true" class="fa fa-chevron-left"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <br><br>
    <!-- End Posts -->
  </main>
  <!-- End Main -->
{% endblock %}
