{% extends 'base.html'%}
{% load static %}
{% block content %}
{% load humanize %}

<!--Start Main-->
	<main>
		
		<!--Start Post-->
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
						<div class="card border-0 card-work-single mb-3">
							<div class="card-img-top">
								<img class="img-fluid d-block mx-auto w-100" src="{{post.image.url}}" alt="picture">
							</div>
						</div>
						<div class="btn-contact d-flex mb-5 mb-lg-0 justify-content-center justify-content-lg-start">
							<a target="_blank" href="{{post.url}}" class="btn btn-success text-white">
								<i class="fa-solid fa-laptop"></i>
								<p class="mb-0 ms-1 d-inline-block">مشاهده آنلاین</p>
							</a>
						</div>
					</div>

					
				<!--Start Form-->
				<div class="col-12 col-lg-6">
					<form class="contact-form" action="{% url 'work:single' pid=post.id %}"  method="post"  autocomplete="on">
						{% csrf_token %}
						<div class="container">
							<div class="row">
								<div class="col-12 col-lg-6">
									<input value="{{post.id}}" type="hidden" name="post">
  									<div class="form-floating mb-4">
    									<input type="text" name="name" class="form-control bg-transparent text-white" required id="name" placeholder="نام و نام‌خانوادگی">
   								 		<label for="name">نام و نام‌خانوادگی</label>
  									</div>
								</div>
								<div class="col-12 col-lg-6">
  									<div class="form-floating mb-4">
    									<input type="email" name="email" class="form-control bg-transparent text-white" required id="email" placeholder="ایمیل">
   								 		<label for="email">ایمیل</label>
									</div>
								</div>
								<div class="col-12">
									<div class="form-floating mb-4">
  										<textarea name="message" class="form-control message-form bg-transparent text-white" required placeholder="پیام شما" id="text"></textarea>
  										<label for="text">پیام شما</label>
									</div>
								</div>
								<div class="btn-contact mb-3">
									<button class="btn btn-outline-warning" name="submit" type="submit">ارسال پیام</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!--End Form-->
				<div class="row">
					<div class="col-12 col-lg-4">
					  {% for message in messages %}
						<div class="alert {{ message.tags }} fade show alert-dismissible d-flex" role="alert">
						  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						  <p class="mb-0 ms-4">{{ message }}</p>
						</div>
						{% endfor %}
					</div>
				  </div>
			
			</div>
		</div>
		
		<br><br><br>
		<!--End Post-->
		
		<!--Start Comments-->
		<div class="container">
				<div class="slider-2st">
					<p class="text-white text-center text-lg-start mb-4" style="font-size:18px;"><strong>نظرات</strong></p>
					<div class="slider33">
						{% for comment in comments %}
						<div class="card border-0 card-comment mx-3">
							<div class="card-body">
								<div class="d-flex">
									<p class="text-white d-inline-block">{{comment.name}}</p>
									<small class="mt-1 ms-2">{{comment.create|naturalday}}</small>
								</div>
								<p class="text-white text-start mb-0 mt-2">
									{{comment.message}}
								</p>
							</div>
						</div>
						{% empty %}
    						<small class="d-block text-white text-center">هیچ پیامی ثبت نشده</small>
						{% endfor %}
				</div>
				</div>
		</div>
		
		<!--End Comments-->

		
		
	</main>
	<br>
	<br>
	<!--End Main-->
{% endblock %}
